* {
  margin: 0;
  padding: 0;
}
.header {
  padding-block: 43px;
}
.header__container {
  max-width: 1160.58px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 300px;
}
.header__nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

.header__nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.login-link,
.signup-link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.signup-link {
  border: 1px solid #000;
  padding: 8px 16px;
  border-radius: 8px;
}

.language-selector {
  cursor: pointer;
}
