*{
  margin: 0;
  padding: 0;
}
.header {
  padding-block: 43px;
}
.header__container {
  max-width:1160.58px;
  margin-inline: auto;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
